@page "/home"
@using tunestock.server.Features.NavBar
@using tunestock.server.Services.User

@inject UserSession userSession

<PageTitle>TuneStock!</PageTitle>
<NavBar></NavBar>
<br/>
<h1>Hello, world!</h1>

Welcome user: @userSession.CurrentUser?.Username!

@code{

    private HomeModel homeModel = new HomeModel();
    
    private class HomeModel {
        public string userName { get; set; }

        public HomeModel() {
        }
    }

}